{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Détail commandes{% endblock %}

{% block body %}
    <div class="col-md-8 p-28 mx-auto">
        <p class="text-xl font-bold text-center mb-4">Détail de la commande</p>
        <div class="border-2 border-black max-h-80 overflow-y-auto mb-1">
            <!-- La div de l'avis -->
            {% for ligneCommande in commande.getLigneCommandes() %}
                <div class="border-4 rounded-md m-2" alt="">
                    <div class="collumn">
                        <p class="font-bold text-md text-black">{{ ligneCommande.getProduit().getNom() }}</p>
                        <div class="mb-3">
                            <p class="">Quantité: {{ ligneCommande.getQuantite() }}</p>
                            <p>Description: {{ ligneCommande.getProduit().getDescription() }}</p>
                        </div>
                        <p>Prix: {{ ligneCommande.getProduit().getPrix() }} €</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="border-2 border-black">
            <p class="font-bold">Prix total de la commande : {{commande.prix}} €</p>

        </div>
    </div>
{% endblock %}
