<!DOCTYPE html>
<html>

  <style>
    .grey {
        background-color: rgb(235 235 235);
    }
    </style>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block stylesheets %}
        <link href="https://bootswatch.com/5/lux/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"/>
        <link rel="stylesheet" href="css/style.css"/>        
        {% endblock %}        
        
        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"> </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script type="module" src="JS/main.js"></script>
        {% endblock %}
    </head>

      <body>

        <header class="bg-white shadow-lg h-23 hidden md:flex">
          <a href="{{path('app_base')}}" class="border flex-shrink-0 flex items-center justify-center px-4 lg:px-6 xl:px-8">
            <img class="h-20" src="assets/nav_missionSport.png" alt="nav mission sport"/>
          </a>
          <nav class="header-links contents font-semibold text-base lg:text-lg">
            <ul class="flex items-center ml-4 xl:ml-8 mr-auto">
              <li class="p-3 xl:p-6 active">
                <a href="{{path('app_base')}}">
                  <span>Accueil</span>
                </a>
              </li>
              <li class="p-3 xl:p-6">
                <a href="{{path('offre')}}">
                  <span>Les Offres</span>
                </a>
              </li>
              <li class="p-3 xl:p-6">
                <a href="{{path('programme')}}">
                  <span>Trouver votre programme</span>
                </a>
              </li>
              <li class="p-3 xl:p-6">
                <a href="{{path('produit')}}">
                  <span>Produit</span>
                </a>
              </li>
              <li class="p-3 xl:p-6">
                <a href="{{path('contact')}}">
                  <span>Contact</span>
                </a>
              </li>
              {% if is_granted('ROLE_ADMIN')%}

              <li class="p-3 xl:p-6">
                <a href="{{path('gestion')}}">
                  <span>Gestion</span>
                </a>
              </li>
              {% endif %}

            
            </ul>
          </nav>
          <nav class="hidden xl:contents">
            <ul class="flex items-center mr-4 lg:mr-6 xl:mr-8">
              <li class="p-1">
                <a href="" class="inline-block rounded-full border p-2 hover:shadow-lg hover:border-opacity-0 duration-200 hover:-translate-y-0.5">
                  <svg class="h-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-9x"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg>
                </a>
              </li>
              <li class="p-1">
                <a href="" class="inline-block rounded-full border p-2 hover:shadow-lg hover:border-opacity-0 duration-200 hover:-translate-y-0.5">
                  <svg class="h-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-7x"><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg>
                </a>
              </li>
              <li class="p-1">
                <a href="" class="inline-block rounded-full border p-2 hover:shadow-lg hover:border-opacity-0 duration-200 hover:-translate-y-0.5">
                  <svg class="h-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin-in fa-w-14 fa-9x"><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>
                </a>
              </li>
              <li class="p-1">
                <a href="" class="inline-block rounded-full border p-2 hover:shadow-lg hover:border-opacity-0 duration-200 hover:-translate-y-0.5">
                  <svg class="h-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-instagram fa-w-14 fa-9x"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
                </a>
              </li>
            </ul>
          </nav>
          <div class="border flex items-center px-4 lg:px-6 xl:px-8">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{path('panier')}}" class="mr-5 lg:mr-6 xl:mr-8" alt="Le chariot du panier">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" >
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
              </svg>
            </a>
            {% else %}
            <a href="{{path('app_login')}}" class="mr-5 lg:mr-6 xl:mr-8" alt="Le chariot du panier">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" >
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
              </svg>
            </a>
            {% endif %}

            
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{path('account')}}">
            {% else %}
            <a href="{{path('app_login')}}">
            {% endif %}

            <button class="bg-black hover:bg-gray-700 text-white font-bold px-4 xl:px-6 py-2 xl:py-3 rounded">Mon compte
            </button>
            </a>

          </div>
        </header>
        
        
        <div class="fixed z-10 mt-3 ml-[90%] block lg:hidden">
          <button class="buttonNavPetit relative group">
            <div class="relative flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] transform transition-all bg-slate-700 ring-0 ring-gray-300 hover:ring-8 group-focus:ring-4 ring-opacity-30 duration-200 shadow-md">
              <div class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden">
                <div class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:rotate-[42deg]"></div>
                <div class="bg-white h-[2px] w-1/2 rounded transform transition-all duration-300 group-focus:-translate-x-10"></div>
                <div class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:-rotate-[42deg]"></div>
              </div>
            </div>
          </button>
        </div>

        <!--Le menu smartphone-->
        <nav class="absolute navbarPetit  rounded-md w-72 h-screen flex-col justify-between hidden md:hidden mt-[0px] ">
          <div class=" grey h-full">
            <div class="flex  justify-center  shadow-sm ">
              <div class="">
        
                <a href="{{path('app_base')}}" class="flex items-center justify-center">
                  <img class="h-45" src="assets/logo mission sport.png" alt="nav mission sport"/>
                </a>              </div>
            </div>
            <div class="pl-10">
        
              <ul class="space-y-8 pt-10">
                <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
                  <img src="assets/bras.png" height="32" width="32"></img>
                  <a href="#">Trouvez votre Programme</a>
                </li>
                <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
                  <img src="assets/bras.png" height="32" width="32"></img>
                  <a href="#">Produit</a>
                </li>
                <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
                  <img src="assets/bras.png" height="32" width="32"></img>
        
                  <a href="#">Offre</a>
                </li>
                <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
                  <img src="assets/bras.png" height="32" width="32"></img>
        
                  <a href="#">Contact</a>
                </li>

                {% if is_granted('ROLE_ADMIN')%}

                <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                  </svg>
                  <a href="#">Gestion</a>
                </li>

                {% endif %}

                <div class="border flex items-center mt-5 px-4 lg:px-6 xl:px-8">
                  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                  <a href="{{path('panier')}}" class="mr-5 lg:mr-6 xl:mr-8" alt="Le chariot du panier">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" >
                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                  </a>
                  {% else %}
                  <a href="{{path('app_login')}}" class="mr-5 lg:mr-6 xl:mr-8" alt="Le chariot du panier">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" >
                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                  </a>
                  {% endif %}
      
                  
                  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                  <a href="{{path('account')}}">
                  {% else %}
                  <a href="{{path('app_login')}}">
                  {% endif %}
      
                  <button class="bg-black hover:bg-gray-700 text-white font-bold px-4 xl:px-6 py-2 xl:py-3 rounded">Mon compte
                  </button>
                  </a>
      
                </div>



              </ul>
        
            </div>
          </div>
          
        </nav>



        
    {% block body %}{% endblock %}
  
    <div class="bg-black h-1/2 ">
      <div class="container mx-auto text-white py-8 flex ">
          <div class="w-1/2 flex flex-col items-center justify-center" alt="Livraison offerte">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
                  <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
              </svg>
              <p class="mt-4">Nous offrons la livraison en France pour tout achat supérieur à 50€</p>
          </div>
          <div class="w-1/2 flex flex-col items-center justify-center" class="contact">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
              </svg>
              <p class="mt-4">Un problème, une suggestion ?</p>
              <p>Écris-nous à l'adresse contact@mission-sport.com, nous te répondrons au plus vite !</p>
          </div>
      </div>
  </div>
  
    </body>
</html>
